

* {
    margin: 0;
}
  
header {
    text-align: center;
    position: relative; 
}

article {
    width: 100%;
    height: 85%;
    background-color: aquamarine;
    border: 5px solid white;
    position: absolute;
    top: 80px;
    border-radius: 15px;
    box-sizing: border-box;
}

.american{
    width: 300px; 
    height: 300px; 
    border: 5px solid green;
    position: absolute; 
    top: 100px; 
    left: 20px; 
    border-radius: 15px;
    box-sizing: border-box; 
    background-image: url(american.jpg);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.first{
    width: 289px; 
    height: 20px; 
    background-color: bisque;
    top: 125px; 
    left: 25px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}

.chinese{
    width: 300px; 
    height: 300px; 
    border: 5px solid green; 
    position: absolute; 
    top: 100px; 
    left: 335px; 
    border-radius: 15px;
    box-sizing: border-box; 
    background-image: url(chinese.jpg);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.second{
    width: 289px; 
    height: 20px; 
    background-color: bisque;
    top: 125px; 
    left: 340px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}

.greek{
    width: 300px; 
    height: 300px; 
    border: 5px solid green; 
    position: absolute; 
    top: 100px; 
    left: 650px; 
    border-radius: 15px;
    box-sizing: border-box; 
    background-image: url(greek.jpg);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.third{
    width: 289px; 
    height: 20px; 
    background-color: bisque;
    top: 125px; 
    left: 655px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}

.italian{
    width: 300px; 
    height: 300px; 
    border: 5px solid green; 
    position: absolute; 
    top: 100px; 
    left: 965px; 
    border-radius: 15px;
    box-sizing: border-box; 
    background-image: url(italian.jpg);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.fourth{
    width: 289px; 
    height: 20px; 
    background-color: bisque;
    top: 125px; 
    left: 970px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}

p{
    position: relative; 
    top: 400px; 
}

.Bluebeardimage{
    width: 350px; 
    height: 350px; 
    border: 5px solid purple; 
    position: absolute; 
    top: 100px; 
    left: 50px; 
    border-radius: 15px;
    box-sizing: border-box; 
    background-image: url(Bluebeard.jpg);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  

}

.Bluebeard{
    height: 30px; 
    background-color: bisque;
    top: 125px; 
    width: 300px; 
    left: 70px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}

.pfchangimage{
    width: 340px; 
    height: 330px; 
    border: 5px solid purple; 
    position: absolute; 
    top: 100px; 
    left: 50px; 
    border-radius: 15px;
    display: inline-block;
    background-size: cover;
    box-sizing: border-box; 
    background-image: url(pfchang.jpg);
    background-repeat: no-repeat;
    background-position: center;  

}

.pfchang{
    width: 340px; 
    height: 20px; 
    background-color: bisque;
    top: 125px; 
    left: 55px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}

.CanalBistroimage{
    width: 350px; 
    height: 350px; 
    border: 5px solid purple; 
    position: absolute; 
    top: 100px; 
    left: 50px; 
    border-radius: 15px;
    box-sizing: border-box; 
    background-image: url(canalbistro.jpg);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  

}

.CanalBistro{
    width: 339px; 
    height: 20px; 
    background-color: bisque;
    top: 125px; 
    left: 55px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}

.Bazbeauxpizzaimage{
    width: 350px; 
    height: 350px; 
    border: 5px solid purple; 
    position: absolute; 
    background-image: url(Bazbeauxpizza.jpg);
    display: inline-block;
    background-size: cover;
    top: 100px; 
    left: 50px; 
    border-radius: 15px;
    box-sizing: border-box; 
    background-repeat: no-repeat;
    background-position: center;  

}

.Bazbeauxpizza{
    width: 360px; 
    height: 20px; 
    background-color: bisque;
    top: 125px; 
    left: 55px; 
    border-radius: 15px; 
    position: absolute; 
    text-align: center;

}
